@page "/"

@using AppMeteo.Models
@using Alert = AppMeteo.Models.Alert
@using AppMeteo.Services.Interfaces

@inject IAlertDatalayer _alertDatalayer

<PageTitle>Home</PageTitle>

<!-- Début du tableau de bord -->
<div class="dashboard">
    <h2>Tableau de Bord</h2>
    <div class="dashboard-item">
        <h3>Liste des Alertes</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Pièce</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Alert alerte in alertes)
                {
                    <tr>
                        <td>@alerte.Measure.Room.RoomName</td>
                        <td>@alerte.AlertMessage</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<Alert?> alertes = new List<Alert?>();

    protected override async Task OnInitializedAsync()
    {
        alertes = await _alertDatalayer.GetAllAlerts();

        await base.OnInitializedAsync();
    }
}

<style>
    .table {
        margin-top: 20px;
    }

    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
    }

    .thead-dark th {
        background-color: #343a40;
    using AppMeteo.Services.Interfaces;
        color: white;
    }
</style>
